## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps
import ipywidgets as widgets

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bluff,NZ,-46.6000,168.3333,56.32,83,100,13.00,light rain
1,1,Kodiak,US,57.7900,-152.4072,35.11,75,90,13.80,light snow
2,2,Ushuaia,AR,-54.8000,-68.3000,33.46,93,90,20.71,heavy snow
3,3,East Wenatchee Bench,US,47.4257,-120.2812,39.42,90,20,8.05,few clouds
4,4,Busselton,AU,-33.6500,115.3333,76.08,41,100,7.56,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 75

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bluff,NZ,-46.6000,168.3333,56.32,83,100,13.00,light rain
6,6,Lebu,CL,-37.6167,-73.6500,53.08,91,14,17.63,few clouds
15,15,Talara,PE,-4.5772,-81.2719,65.16,88,0,16.11,clear sky
20,20,Cidreira,BR,-30.1811,-50.2056,65.32,76,0,16.08,clear sky
25,25,Cape Town,ZA,-33.9258,18.4232,64.11,66,0,6.91,clear sky
...,...,...,...,...,...,...,...,...,...,...
668,668,Donghai,CN,22.9459,115.6420,73.94,68,92,4.63,overcast clouds
670,670,Tomatlan,MX,19.9333,-105.2500,73.51,74,0,3.11,clear sky
671,671,Kaeo,NZ,-35.1000,173.7833,74.32,74,96,6.80,overcast clouds
673,673,Asfi,MA,32.2994,-9.2372,61.41,84,96,4.21,overcast clouds
677,677,Manoel Urbano,BR,-8.8389,-69.2597,72.09,89,96,1.90,moderate rain

In [5]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                4
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bluff,NZ,-46.6000,168.3333,56.32,83,100,13.00,light rain
6,6,Lebu,CL,-37.6167,-73.6500,53.08,91,14,17.63,few clouds
15,15,Talara,PE,-4.5772,-81.2719,65.16,88,0,16.11,clear sky
20,20,Cidreira,BR,-30.1811,-50.2056,65.32,76,0,16.08,clear sky
25,25,Cape Town,ZA,-33.9258,18.4232,64.11,66,0,6.91,clear sky
...,...,...,...,...,...,...,...,...,...,...
668,668,Donghai,CN,22.9459,115.6420,73.94,68,92,4.63,overcast clouds
670,670,Tomatlan,MX,19.9333,-105.2500,73.51,74,0,3.11,clear sky
671,671,Kaeo,NZ,-35.1000,173.7833,74.32,74,96,6.80,overcast clouds
673,673,Asfi,MA,32.2994,-9.2372,61.41,84,96,4.21,overcast clouds
677,677,Manoel Urbano,BR,-8.8389,-69.2597,72.09,89,96,1.90,moderate rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bluff,NZ,56.32,light rain,-46.6000,168.3333,
6,Lebu,CL,53.08,few clouds,-37.6167,-73.6500,
15,Talara,PE,65.16,clear sky,-4.5772,-81.2719,
20,Cidreira,BR,65.32,clear sky,-30.1811,-50.2056,
25,Cape Town,ZA,64.11,clear sky,-33.9258,18.4232,
...,...,...,...,...,...,...,...
668,Donghai,CN,73.94,overcast clouds,22.9459,115.6420,
670,Tomatlan,MX,73.51,clear sky,19.9333,-105.2500,
671,Kaeo,NZ,74.32,overcast clouds,-35.1000,173.7833,
673,Asfi,MA,61.41,overcast clouds,32.2994,-9.2372,
677,Manoel Urbano,BR,72.09,moderate rain,-8.8389,-69.2597,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        clean_hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bluff,NZ,56.32,light rain,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
6,Lebu,CL,53.08,few clouds,-37.6167,-73.6500,Hostal Las Lilas
15,Talara,PE,65.16,clear sky,-4.5772,-81.2719,Hostal Oro Negro
20,Cidreira,BR,65.32,clear sky,-30.1811,-50.2056,Hotel Castelo
25,Cape Town,ZA,64.11,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
...,...,...,...,...,...,...,...
668,Donghai,CN,73.94,overcast clouds,22.9459,115.6420,Huacheng Restaurant
670,Tomatlan,MX,73.51,clear sky,19.9333,-105.2500,El Salvial
671,Kaeo,NZ,74.32,overcast clouds,-35.1000,173.7833,Bushido Lodge
673,Asfi,MA,61.41,overcast clouds,32.2994,-9.2372,Hôtel Abda
677,Manoel Urbano,BR,72.09,moderate rain,-8.8389,-69.2597,Baixada Beira Rio

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))